/*-----------------------------------
    Small devices (landscape phones, 240px and up)
------------------------------------*/
@media (min-width: 240px) {
  .top-header {
    padding: 5px 0 5px;
  }
	.ladeo{
		margin-top: auto;
	}
	  .navbar-brand img {
    width: 70px;
  }
  .ladeo .ladeo-ani {
    min-height: 700px;
	justify-content: center;
  } 
	.ladeo-ani p {
	margin-top: 60px;
	margin-bottom: 0px;
	}
	.ladeo-ani h1 {
		font-size: 20px;
		margin-bottom: 0px;
	}
	.ladeo .container .ladeo-ani {
	align-content: center;
	justify-content: center;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
	.position-absolute .container {
		height: 15%;
	}
  .recent-posts .row .col-lg-6:nth-of-type(odd) .post-thumb {
    margin-top: 0;
    margin-left: 25px;
  }
  .recent-posts .row .col-lg-6:nth-of-type(even) .post-thumb {
    margin-bottom: 0;
    margin-right: 25px;
  }
}
@media (min-width: 540px) {
	.ladeo-ani h1 {
		font-size: 42px;
	}
	.ladeo .container .ladeo-ani {
	align-content: center;
	justify-content: center;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
	.ladeo-ani p {
	margin-top: 70px;
	margin-bottom: 0px;
	}
	.position-absolute .container {
		height: 15%;
}
		.ladeo-ani small {
		font-size: 16px;
	}
	.navbar {
		height: 40px;
	}
	.top-header {
		height: 30px;
	}
}
/*-----------------------------------
    Medium devices (tablets, 768px and up)
------------------------------------*/
@media (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 5px 8px;
    font-size: large;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    margin-right: 0px;
  }
  .navbar-collapse .nav-link {
    font-size: 0.875rem;
    position: relative;
  }
  .navbar-collapse .nav-link::before {
    content: "\f0d8";
    font-family: FontAwesome;
    color: #F8FF00;
    position: absolute;
    bottom: 7px;
    line-height: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link::after {
    content: "";
    width: 0;
    height: 4px;
    background-color: #F8FF00;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 0.35s ease;
  }
  .navbar-collapse .nav-link:hover::after {
    width: 100%;
    left: 0;
  }
  .navbar-collapse .nav-link:hover::before {
    opacity: 1;
  }
  .group {
    order: 2;
  }
  .ladeo .ladeo-ani {
    min-height: 700px;
	width: 75%;
	  margin: 0px;
	  padding-left: 20px;
	justify-content: center;
  }
  .hero .slide-content br {
    display: block;
  }
  .hero .arr-left,
  .hero .arr-right {
    top: 50%;
  }
  .featured-img {
    height: 100%;
    margin-top: -66px;
  }
  .cta-content {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .cta-content::after {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .cta-content .subscribe-btn {
    align-self: flex-end;
    margin-right: 30px;
  }
	  .ladeo-ani  p {
    margin-top: 120px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-size: 24px;
  }
	.ladeo-ani h1 {
		font-size: 48px;
	}
	.ladeo-ani small {
		font-size: 24px;
	}
}

/*-----------------------------------
    Large devices (desktops, 992px and up)
------------------------------------*/
@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 5px 10px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    margin-right: 0px;
  }
  .ladeo .ladeo-ani {
    min-height: 100vh;
	align-content: center;
	justify-content: center;
  }
  .ladeo-ani  p {
    margin-top: 80px;
	margin-bottom: 0px;
	padding-left: 0px;
	font-size: 32px;
	text-align: center;
  }
  .ladeo-ani h1 {
		font-size: 100px;
	}
	.ladeo-ani small {
		font-size: 32px;
	}
  .title h1 {
    font-size: 48px;
  }
	.navbar .navbar-brand img {
		margin-top: 0px;
		padding-top: 0px;
	margin-bottom: 0px;
    width: 20%;
	
  }
}

/*-----------------------------------
    Extra large devices (large desktops, 1200px and up)
------------------------------------*/
@media (min-width: 1200px) {
  .navbar-brand img {
    width: 25%;
  }
  .title h1 {
    font-size: 58px;
  }
  .trust .title {
    padding-top: 70px;
  }
  .trust ul {
    padding-bottom: 30px;
  }
  .trust .gallery {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 75px 0;
  }
}
